jakarta.persistence.jdbc.url=jdbc:sqlite:C:/Users/Oana/Desktop/LabMPP/identifier.sqlite

# Specificați dialectul corespunzător pentru SQLite
hibernate.dialect=org.hibernate.dialect.SQLiteDialect

# Alte proprietăți Hibernate
jakarta.persistence.schema-generation.database.action=update
hibernate.show_sql=true
hibernate.format_sql=true
hibernate.highlight_sql=true
